<a href="https://colab.research.google.com/github/mirtkoa/Tarefas-imers-o-python-alura/blob/main/Desafios_python_imers%C3%A3o_alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv')

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
new_columns = {
    'work_year': 'ano',
    'experience_level': 'experiencia',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'salario_usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'taxa_remoto',
    'company_location': 'localização',
    'company_size': 'tamanho'
}

df = df.rename(columns=new_columns)
df.columns

Index(['ano', 'experiencia', 'contrato', 'cargo', 'salario', 'moeda',
       'salario_usd', 'residencia', 'taxa_remoto', 'localização', 'tamanho'],
      dtype='object')

In [ ]:
experience_mapping = {
    'Senior': 'Sênior',
    'Mid-level': 'Pleno',
    'Entry-level': 'Júnior',
    'Executive': 'Executivo'
}
df['experiencia'] = df['experiencia'].replace(experience_mapping)
df.value_counts('experiencia')

experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
df.describe()

                 ano       salario    salario_usd    taxa_remoto
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
df_remoto = df[df['taxa_remoto'] == 100]

In [ ]:
print(f"Número de profissionais que trabalham remotamente: {len(df_remoto)}")

Número de profissionais que trabalham remotamente: 27718

In [ ]:
df_remoto.head(15)

,ano,experiencia,contrato,cargo,salario,moeda,salario_usd,residencia,taxa_remoto,localização,tamanho
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
10,2025.0,MI,FT,BI Developer,118000,USD,118000,US,100,US,M
11,2025.0,MI,FT,BI Developer,51000,USD,51000,US,100,US,M
129,2025.0,MI,FT,Product Designer,125000,USD,125000,CA,100,CA,M
130,2025.0,MI,FT,Product Designer,114000,USD,114000,CA,100,CA,M
133,2025.0,SE,FT,Data Analyst,123700,USD,123700,US,100,US,M
134,2025.0,SE,FT,Data Analyst,68700,USD,68700,US,100,US,M
135,2025.0,SE,FT,Data Analyst,123700,USD,123700,US,100,US,M
136,2025.0,SE,FT,Data Analyst,68700,USD,68700,US,100,US,M
139,2025.0,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
140,2025.0,SE,FT,Data Engineer,101250,USD,101250,US,100,US,M
155,2025.0,SE,FT,Architect,153925,USD,153925,US,100,US,M
156,2025.0,SE,FT,Architect,85150,USD,85150,US,100,US,M
171,2025.0,MI,FT,Associate,245985,USD,245985,US,100,US,M

# Aula 2

In [ ]:
import numpy as np

df_notas = pd.DataFrame({
    'nome': ['Juliana', 'Mariana', 'Pedro', 'Giovanna', 'Maria Vitoria', 'Lara'],
    'idade': [17, 17, 16, 17, 15, 13],
    'escola': ['Anglo', 'Anglo', 'Poliedro', 'Arqui', 'Objetivo', 'Glória'],
    'nota': [8, np.nan, np.nan, 7, np.nan, 9],
})

df_notas

            nome  idade    escola  nota
0        Juliana     17     Anglo   8.0
1        Mariana     17     Anglo   NaN
2          Pedro     16  Poliedro   NaN
3       Giovanna     17     Arqui   7.0
4  Maria Vitoria     15  Objetivo   NaN
5           Lara     13    Glória   9.0

In [ ]:
df_notas['nota'] = df_notas['nota'].fillna(df_notas['nota'].mean().round(2))

df_notas

            nome  idade    escola  nota
0        Juliana     17     Anglo   8.0
1        Mariana     17     Anglo   8.0
2          Pedro     16  Poliedro   8.0
3       Giovanna     17     Arqui   7.0
4  Maria Vitoria     15  Objetivo   8.0
5           Lara     13    Glória   9.0

import pandas as pd

# Supondo que você já tenha um DataFrame chamado df_salarios
df_salarios = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniele'],
    'salario': [4000, None, 5000, None]
})

# Criando a coluna de status
def definir_status(salario):
    if salario is None:
        return 'Não informado'
    elif salario < 3000:
        return 'Baixo'
    elif 3000 <= salario < 7000:
        return 'Médio'
    else:
        return 'Alto'

df_salarios['status'] = df_salarios['salario'].apply(definir_status)

print(df_salarios)

# Aula 3

desafio: visualizar salário por país no cargo de cientista de dados (data scientist), usando o plotly

In [ ]:
df.head()

,ano,experiencia,contrato,cargo,salario,moeda,salario_usd,residencia,taxa_remoto,localização,tamanho
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
df_limpo = df.dropna()

In [ ]:
df_cientista = df_limpo

In [ ]:
df_limpo['residencia'].unique()

array(['US', 'AU', 'CA', 'JP', 'GB', 'MX', 'NL', 'ES', 'FR', 'MT', 'IT',
       'LT', 'PH', 'NZ', 'DE', 'LV', 'IE', 'MK', 'AT', 'PL', 'SK', 'BR',
       'SI', 'FI', 'HK', 'LS', 'IN', 'JM', 'CH', 'BE', 'ID', 'PE', 'SG',
       'PT', 'HU', 'RO', 'AR', 'ZA', 'PA', 'EE', 'LU', 'DZ', 'EG', 'CL',
       'GR', 'KE', 'CD', 'SE', 'KR', 'TW', 'NO', 'CZ', 'TR', 'NG', 'CY',
       'CO', 'DK', 'AE', 'BG', 'JO', 'RS', 'UA', 'PR', 'SV', 'EC', 'DO',
       'MY', 'XK', 'CR', 'ZM', 'AM', 'RW', 'IL', 'LB', 'HR', 'PK', 'HN',
       'VE', 'BM', 'VN', 'GE', 'SA', 'OM', 'BA', 'UG', 'MU', 'TH', 'QA',
       'RU', 'TN', 'GH', 'AD', 'MD', 'UZ', 'CF', 'KW', 'IR', 'AS', 'CN',
       'BO', 'IQ', 'JE'], dtype=object)

In [ ]:
country_mapping = {
    'US': 'Estados Unidos',
    'AU': 'Austrália',
    'CA': 'Canadá',
    'JP': 'Japão',
    'GB': 'Reino Unido',
    'MX': 'México',
    'NL': 'Holanda',
    'ES': 'Espanha',
    'FR': 'França',
    'MT': 'Malta',
    'IT': 'Itália',
    'LT': 'Lituânia',
    'PH': 'Filipinas',
    'NZ': 'Nova Zelândia',
    'DE': 'Alemanha',
    'LV': 'Letônia',
    'IE': 'Irlanda',
    'MK': 'Macedônia do Norte',
    'AT': 'Áustria',
    'PL': 'Polônia',
    'SK': 'Eslováquia',
    'BR': 'Brasil',
    'SI': 'Eslovênia',
    'FI': 'Finlândia',
    'HK': 'Hong Kong',
    'LS': 'Lesoto',
    'IN': 'Índia',
    'JM': 'Jamaica',
    'CH': 'Suíça',
    'BE': 'Bélgica',
    'ID': 'Indonésia',
    'PE': 'Peru',
    'SG': 'Singapura',
    'PT': 'Portugal',
    'HU': 'Hungria',
    'RO': 'Romênia',
    'AR': 'Argentina',
    'ZA': 'África do Sul',
    'PA': 'Panamá',
    'EE': 'Estônia',
    'LU': 'Luxemburgo',
    'DZ': 'Argélia',
    'EG': 'Egito',
    'CL': 'Chile',
    'GR': 'Grécia',
    'KE': 'Quênia',
    'CD': 'Congo (República Democrática)',
    'SE': 'Suécia',
    'KR': 'Coreia do Sul',
    'TW': 'Taiwan',
    'NO': 'Noruega',
    'CZ': 'República Tcheca',
    'TR': 'Turquia',
    'NG': 'Nigéria',
    'CY': 'Chipre',
    'CO': 'Colômbia',
    'DK': 'Dinamarca',
    'AE': 'Emirados Árabes Unidos',
    'BG': 'Bulgária',
    'JO': 'Jordânia',
    'RS': 'Sérvia',
    'UA': 'Ucrânia',
    'PR': 'Porto Rico',
    'SV': 'El Salvador',
    'EC': 'Equador',
    'DO': 'República Dominicana',
    'MY': 'Malásia',
    'XK': 'Kosovo',
    'CR': 'Costa Rica',
    'ZM': 'Zâmbia',
    'AM': 'Armênia',
    'RW': 'Ruanda',
    'IL': 'Israel',
    'LB': 'Líbano',
    'HR': 'Croácia',
    'PK': 'Paquistão',
    'HN': 'Honduras',
    'VE': 'Venezuela',
    'BM': 'Bermudas',
    'VN': 'Vietnã',
    'GE': 'Geórgia',
    'SA': 'Arábia Saudita',
    'OM': 'Omã',
    'BA': 'Bósnia e Herzegovina',
    'UG': 'Uganda',
    'MU': 'Maurício',
    'TH': 'Tailândia',
    'QA': 'Catar',
    'RU': 'Rússia',
    'TN': 'Tunísia',
    'GH': 'Gana',
    'AD': 'Andorra',
    'MD': 'Moldávia',
    'UZ': 'Uzbequistão',
    'CF': 'República Centro-Africana',
    'KW': 'Kuwait',
    'IR': 'Irã',
    'AS': 'Samoa Americana',
    'CN': 'China',
    'BO': 'Bolívia',
    'IQ': 'Iraque',
    'JE': 'Jersey'
}

df_limpo['residencia'] = df_limpo['residencia'].map(country_mapping).fillna(df_limpo['residencia'])

/tmp/ipython-input-1784909916.py:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo['residencia'] = df_limpo['residencia'].map(country_mapping).fillna(df_limpo['residencia'])

In [ ]:
df_limpo.head()

,ano,experiencia,contrato,cargo,salario,moeda,salario_usd,residencia,taxa_remoto,localização,tamanho
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,Estados Unidos,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,Estados Unidos,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,Austrália,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,Austrália,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,Estados Unidos,0,US,M